@import "tailwindcss";

:root {
  --background: #f7f6f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: #1f8844;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-family-satoshi: var(--font-satoshi);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
}
